/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --slate-1000: #151619;
  --slate-900: #1d1f22;
  --slate-800: #2b2d31;
  --slate-700: #35393f;
  --slate-600: #5a6069;
  --slate-500: #7c8187;
  --slate-400: #c1c4cb;
  --slate-300: #e4e4e4;
  --slate-200: #f5f5f5;
  --slate-100: #ffffff;
  --orange-accent: #e46643;
  --orange-hover: #f39765;
}

body,
button {
  font-family: "Roboto", sans-serif;
}
